# Environment config for integration tests
TEST_ENV=integration
# These ports match tests/docker-compose.yml
JFROG_URL=http://localhost:8081
NEXUS_URL=http://localhost:8082

# CLI Default options
JFROG_API_KEY=dummy-jfrog-key
NEXUS_PASSWORD=dummy-nexus-password
NEXUS_USER=admin
